/**
 * Featherlight – ultra slim jQuery lightbox
 * Version 1.7.13 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2018, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/

html.with-featherlight {
	/* disable global scrolling when featherlights are visible */
	overflow: hidden;
}
@-webkit-keyframes featherlightLoader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes featherlightLoader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.featherlight .featherlight-content{
	position: relative;
	min-width:100px;
	min-height:100px;
	max-height: 662px!important;
	overflow: hidden!important;
}
.featherlight-loading .featherlight-content{
	width: 52px;
	height: 60px;
	background: none;
	overflow: hidden;
	margin: 0;
}

.featherlight .featherlight-content:before {
	position: absolute;
	box-sizing: border-box;
	display: block;
	content:'';
	-webkit-animation: featherlightLoader 1s infinite linear;
	animation: featherlightLoader 1s infinite linear;
	background: transparent;
	border: 8px solid #8f8f8f;
	border-left-color: #fff;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	min-width: 0;
	top: calc(50% - 20px);
	left:calc(50% - 20px);
	z-index: 0;
}
.featherlight .featherlight-content img{
	z-index: 1;
	position:relative;
}
.featherlight-previous,
.featherlight-next{
	z-index: 2;
}
.featherlight-loading .featherlight-content > * {
	display: none !important;
}

.featherlight-loading .featherlight-close,
.featherlight-loading .featherlight-inner {
	display: none;
}
.featherlight {
	display: none;

	/* dimensions: spanning the background from edge to edge */
	position:fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2147483647; /* z-index needs to be >= elements on the site. */

	/* position: centering content */
	text-align: center;

	/* insures that the ::before pseudo element doesn't force wrap with fixed width content; */
	white-space: nowrap;

	/* styling */
	cursor: pointer;
	background: #333;
	/* IE8 "hack" for nested featherlights */
	background: rgba(0, 0, 0, 0);
}

/* support for nested featherlights. Does not work in IE8 (use JS to fix) */
.featherlight:last-of-type {
	background: rgba(0, 0, 0, 0.8);
}

.featherlight:before {
	/* position: trick to center content vertically */
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.featherlight .featherlight-content {
	/* make content container for positioned elements (close button) */
	position: relative;

	/* position: centering vertical and horizontal */
	text-align: left;
	vertical-align: middle;
	display: inline-block;

	/* dimensions: cut off images */
	overflow: auto;
	padding:0;
	margin-top:10px;
	/*border-bottom: 2px solid transparent;*/

	/* dimensions: handling large content */
	margin-left: 5%;
	margin-right: 5%;
	max-height: 95%;
	border-radius: 10px;

	/* styling */
	background: #fff;
	cursor: auto;

	/* reset white-space wrapping */
	white-space: normal;
}

/* contains the content */
.featherlight .featherlight-inner {
	/* make sure its visible */
	display: block;
}

/* don't show these though */
.featherlight script.featherlight-inner,
.featherlight link.featherlight-inner,
.featherlight style.featherlight-inner {
	display: none;
}

.featherlight .featherlight-close-icon {
	/* position: centering vertical and horizontal */
	position: absolute;
	z-index: 9999;
	/* dimensions: 25px x 25px */
	line-height: 25px;
	width: 25px;

	/* styling */
	cursor: pointer;
	text-align: center;
	font-family: Arial, sans-serif;
	font-weight:bold;
	outline:none !important;
	background: #47546a; /* Set the background in case it overlaps the content */
	background: #47546a;
	color: #FFF;
	border: none;
	padding: 0;
	font-size: 23px;
	right: 23px;
	top: 25px;
}

/* See http://stackoverflow.com/questions/16077341/how-to-reset-all-default-styles-of-the-html5-button-element */
.featherlight .featherlight-close-icon::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.featherlight .featherlight-image {
	/* styling */
	width: 100%;
}


.featherlight-iframe .featherlight-content {
	/* removed the border for image croping since iframe is edge to edge */
	border-bottom: 0;
	padding: 0;
	-webkit-overflow-scrolling: touch;
	border-radius: 0;
}

.featherlight iframe {
	/* styling */
	border: none;
}

.featherlight * { /* See https://github.com/noelboss/featherlight/issues/42 */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* handling phones and small screens */
@media only screen and (max-width: 1024px) {
	.featherlight .featherlight-content {
		/* dimensions: maximiz	e lightbox with for small screens */
		margin-left: 0;
		margin-right: 0;
		max-height: calc(100% - 60px);
		max-width: calc(100% - 60px);
		padding:0;

		/*border-bottom: 10px solid transparent;*/
	}
}

/* hide non featherlight items when printing */
@media print {
	html.with-featherlight > * > :not(.featherlight) {
		display: none;
	}
}

p.product-simpl-text-note, p.product-simpl-text-promotional{
	color:#555555;
	clear: both;
	font-weight:normal;
	font-size: 14px !important;
	line-height: 32px;
	white-space: nowrap;
	vertical-align: middle;
	word-break: break-all;
	display: contents;
}
p.product-simpl-text-promotional {
	font-size: 12px!important;
}

@media only screen and (max-width: 767px) {
	p.product-simpl-text-note, p.product-simpl-text-promotional{
    white-space: normal;
  }
}

p.product-simpl-text-note img{
	display:block;
	width:auto;
	height:15px;
}
p.product-simpl-text-note img.simpl-brand-logo{
	height:17px;
	width:60px;
}
p.product-simpl-text-note .amount{
	color:#000;
	font-weight:bold;
}
p.product-simpl-text-note a{
	background:none !important;
	color:#555 !important;
	display:inline-block !important;
	font-size:14px !important;
	padding:0 !important;
	text-decoration:none !important;
	vertical-align:middle;
}
p.product-simpl-text-note a span, p.product-simpl-text-note a img {
	vertical-align: middle;
}
p.product-simpl-text-note a .product-simpl-logo-text {
	--tw-text-opacity: 1;
	color: rgba(0, 209, 193, var(--tw-text-opacity)) !important;
}

body.woocommerce-checkout .entry-content .woocommerce-checkout-review-order .woocommerce-checkout-payment .wc_payment_methods>li.payment_method_simpl-pay-in-3-for-woocommerce img{
	height: auto;
	max-width:68px !important;
	min-width:68px;
}

body.woocommerce-cart .cart_totals .simpl-cart-text td{
	text-align:right;
}

.featherlight .featherlight-content:before {
	display: none!important;
}

.featherlight.featherlight-iframe button.featherlight-close-icon.featherlight-close {
    opacity: 0!important;
    top: 0!important;
    margin: 0!important;
    height: 75px!important;
    width: 75px!important;
    right: 0!important;
}
